footer .bg-dark {
    background-color: #1A0002 !important;
}

footer p {
    font-size: 12px;
    margin-bottom: 5px;
}

footer a {
    font-size: 12px;
    color: #FFF !important;
    text-decoration: none !important;
}

footer a:hover {
    color: #E5AD10 !important;
    text-decoration: none !important;
}

footer li {
    width: 30px;
    height: 30px;
    background-color: #442102;
}

footer p.text-center {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif !important;
}

.color-golden {
    color: #D9985F !important;
}

.bg-golden {
    background-color: #D9985F !important;
    border: 1px solid #D9985F !important;
}

footer p.text-muted a {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif !important;
}

footer a.text-warning {
    color: #E5AD10 !important;
}

footer a.text-warning:hover {
    color: #E5AD10 !important;
}