.navbar {
    width: 100% !important;
}

body .navbar.bg-dark {
    background: #1A0002 !important;
}

body .navbar.border-bottom {
    border-bottom: 1px solid #422426 !important;
}

.header-logo {
    width: 150px;
}

button.navbar-toggler {
    border-style: none;
}

button.navbar-toggler:focus {
    outline: none;
}

.fa-bars {
    font-size: 25px;
}

.dropdown-menu {
    background-color: #1A0002 !important;
}

.dropdown-item {
    background-color: #40050A !important;
    color: #ffffff !important;
    font-family: 'Merriweather', serif !important;
    text-decoration: none;
}

.dropdown-item:hover {
    color: #D9985F !important;
    font-family: 'Merriweather', serif;
    text-decoration: none;
}

.nav-link {
    color: #ffffff !important;
    font-family: 'Merriweather', serif !important;
    text-decoration: none;
    line-height: 1.6;
}

.nav-link:hover {
    color: #D9985F !important;
    font-family: 'Merriweather', serif;
    text-decoration: none;
}

.text-white {
    font-family: 'Merriweather', serif !important;
    text-decoration: none;
}

.btn-outline-light{
    color: #FFF !important;
    font-family: 'Merriweather', serif !important;
}

.btn-outline-light:hover {
    background-color: #D9985F !important;
    border: 1px solid #D9985F !important;
    color: #1A0002 !important;
    font-family: 'Merriweather', serif !important;
}

.btn-outline-light:focus {
    box-shadow: none !important;
}

/* DROPDOWN DESKTOP */
.dropdown-desktop.dropdown .dropdown-menu {
    display: none;
}

.dropdown-desktop.dropdown:hover .dropdown-menu {
    display: block;
}