.perfil-content a {
    text-decoration: none !important;
}

.perfil-content h6 {
    line-height: 1.5 !important;
    margin-bottom: 0 !important;
}

.perfil-content .profile .cover-profile {
    max-height: 320px;
}

.perfil-content .cover-profile .cover-adv {
    width: 100%;
    max-height: 250px;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.perfil-content .cover-profile .cover-adv .img-cover {
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 100%;
    max-height: 250px;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.perfil-content .cover-profile .img-perfil-adv {
    max-width: 200px;
    max-height: 200px;
    left: 45px;
    bottom: -70px;
}

.perfil-content .datas-adv {
    margin-top: 40px;
}

.perfil-content .datas-adv p.text-light.bg-secondary {
    color: #604D31 !important;
    background-color: #DFC195 !important;
}

.perfil-content i.facebook {
    color: #1976D2;
}

.perfil-content i.linkedin {
    color: #0077B5;
}

.perfil-content i.instagram {
    background-image: linear-gradient(45deg, #FFCA52, #FF553E, #CE3A9F);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black; 
}

.perfil-content h4.text-dark,h5.text-dark {
    font-family: 'Merriweather', sans-serif;
}

.perfil-content .icon-contribution {
    width: 87px;
    height: 87px;
    background-color: #251200 !important;
}

.perfil-content .icon-contribution .img-fluid {
    background-size: cover;
    background-position: center;
    object-fit: cover;
}